.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 40px;
    position: fixed;
    background-color: #fff;
    z-index: 10000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 20px;
        text-shadow: 1px 1px 1px #ccc;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo {
                background: url('../assets/logo.jpg') center center no-repeat;
                height: 100%;
                width: 25%;
                cursor: pointer;
                background-size: contain;
                margin: 0px 16px 6px;
            }

            i {
                font-size: 25px;
                cursor: pointer;
                color: grey;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                cursor: pointer;
                transition: all 0.3s ease;
                padding: 5px 10px;
                border-radius: 4px;
                position: relative;

                &:hover {
                    background-color: rgba(14, 186, 227, 0.1);
                    transform: translateY(-2px);
                }

                div {
                    &:first-child {
                        color: #000;
                    }

                    &:last-child {
                        height: 2px;
                        background-color: #0ebae3;
                        width: 0;
                        position: relative;
                        margin-top: 4px;
                        transition: width 0.3s ease;
                        margin-left: 50%;
                        transform: translateX(-50%);
                    }
                }

                &:hover div:last-child {
                    width: 100%;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    color: #0ebae3;
                }

                i {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.2;
                transition: opacity 0.3s ease;

                &.active {
                    opacity: 1;

                    span {
                        color: #0ebae3;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                margin: 0 10px;
                opacity: 0.2;
                cursor: pointer;
                transition: opacity 0.3s ease;

                &.active {
                    opacity: 1;

                    span {
                        color: #0ebae3;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
