.section-specialty {
    height: 330px;
    background: #f5f5f5;

    .specialty-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .specialty-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background-color: #0ebae3;
                color: #fff;
                font-weight: 550;
                cursor: pointer;
                text-transform: uppercase;
            }
        }

        .specialty-body {

            .specialty-customize {
                .bg-image {
                    width: 278px;
                    height: 150px;
                    background: url('../../../assets/data/Tesla_Model_3.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                    margin: auto;
                }

                .specialty-title {
                    display: flex;
                    justify-content: center;
                }
            }

            .slick-prev {
                left: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background-color: #0ebae3 !important;
                border-radius: 5px !important;

                &:hover {
                    background-color: #369eb8 !important;
                }
            }

            .slick-prev:before {
                font-family: FontAwesome !important;
                content: "\f053" !important;
            }

            .slick-next {
                right: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background-color: #0ebae3 !important;
                border-radius: 5px !important;

                &:hover {
                    background-color: #369eb8 !important;
                }
            }

            .slick-next:before {
                font-family: FontAwesome !important;
                content: "\f054" !important;
            }
        }
    }



}